* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 400px;
    height: 600px;
    border-radius: 40px;
    background: linear-gradient(360deg, #1d204f 0%, #536976 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.0625);
    margin-bottom: 12px;
}

#riddle,
.subtitle {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.0625);
    margin: 48px 0;
}


.input {
    height: 40px;
    display: block;
    outline: none;
    border-radius: 8px;
    border: 1px solid rgba(41, 46, 73, 1);
    background: linear-gradient(0deg, rgba(41, 46, 73, 0.2), rgba(41, 46, 73, 0.2));
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.0625);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}

.btn {
    display: block;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(41, 46, 73, 1);
    background: linear-gradient(0deg, #292E49, #292E49),
        linear-gradient(0deg, rgba(41, 46, 73, 0.6), rgba(41, 46, 73, 0.6));
    ;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.0625);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin-top: 40px;
    align-items: center;
}